html, body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}
.nav-bar {
    background-color: rgba(255,255,255,0);
    margin: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
}
.nav-bar.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}
.nav-bar p {
    color: #FFF;
    font: 30px 'Open Sans Condensed', sans-serif;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    margin-top: 7px;
}
.nav-bar p a {
    text-decoration: none;
    color: #FFF;
}
.nav-bar p span {
  font-weight: bold;
}
.nav-bar ul {
    margin-top: 10px;
    list-style: none;
    text-align: right;
    float: right;
}
.nav-bar ul li {
    display: inline-block;
    padding-right: 50px;
}
.nav-bar ul li a {
    font: 24px 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: #FFF;
}
.nav-bar ul li a:hover {
    color: #C1C1C1;
}
.header {
  height: 100vh;
  background-image: url(../img/intro.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header {
    font-family: 'Open Sans Condensed', sans-serif;
}
.header h1 {
    color: #FFF;
    font-size: 96px;
    font-weight: normal;
    text-shadow: 0px 2px 4px rgba(0, 0, 0.6);
}
.header h4 {
    color: #FFF;
    font-weight: normal;
    font-size: 40px;
}
.section-title {
    color: #000;
    font: 700 72px 'Rajdhani', sans-serif;
    text-align: center;
    margin: 20px;
}
.white {
    color: #FFF;
}
.section-a {
    padding: 30px;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}
.section-a img {
    width: 410px;
    height: 200px;
}
.section-b {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(../img/altbg1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
.section-b:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
.section-b h1, .section-b div {
    z-index: 1;
}
.section-b img {
	border-radius: 50%;
	height: 350px;
	width: 350px;
    float: left;
    margin-left: 150px;
}
.section-b p {
    color: #FFF;
    font-size: 20px;
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 50px;
}
.section-c {
    font-family: 'Open Sans Condensed', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
}
.section-c ul {
    list-style-type: none;
    float: center;
    text-align: center;
}
.section-c a {
    font-size: 22px;
    color: #000;
    text-decoration: none;
}
.section-c a:hover {
    text-decoration: underline;
}
.card {
    box-shadow: 0 0 1px black;
}
footer {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
footer p {
    font-size: 20px;
    color: white;
    margin-top: 30px;
}